<!DOCTYPE html>
<html ng-app="fileBrowserApp">

<head>
    <meta charset="utf-8">
    <title>Web Based File Browser with jsTree, Angularjs and Expressjs</title>

    <link rel="stylesheet" type="text/css" href="/libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/jstree/themes/default/style.min.css">
    <link rel="stylesheet" type="text/css" href="/css/github.min.css">
    <link rel="stylesheet" type="text/css" href="/css/app.css">
</head>

<body class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/">Mitrend 53</a>
            </div>
            <p class="navbar-text">{{leaf}}</p>
        </div>
    </nav>

    <ng-view></ng-view>



    <!-- Live reload script -->
    <script src="/js/lodash.min.js"></script>
    <script src="/js/highlight.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/libs/angular-route/angular-route.min.js"></script>
    <script src="/js/angular-highlightjs.min.js"></script>

    <script src="/libs/jquery/dist/jquery.min.js"></script>
    <script src="/jstree/jstree.min.js"></script>

    <script src="/libs/jstree-directive/jsTree.directive.js"></script>

    <script src="/js/app.js"></script>
    <script src="/js/controllers.js"></script>
</body>

</html>

